import React from 'react';
import {{capital_name}} from '../{{capital_name}}.jsx';
import renderer from 'react-test-renderer';

test('TODO: write test for {{capital_name}}', () =>
  expect(1).toBe(4); // Will fail.
)
