@import '../../lib/animations.scss';


.taskWidget {

  .card {
    @include fadein(0.9s);
  }

  .header {
    height: 50px;
    @include fadein(0.9s);

    h1,h2,h3,h4,h5,h6 {
      float: left;
      color: white;
    }

    .search {
      float: right;
    }

    input {
      border: none;

      &.card {
        border: none;

        &:focus {
          border: none;
        }
      }
    }
  }
}
