@import './lib/rottie.scss';
@import './ui/ui.scss';

@import '../node_modules/font-awesome/scss/font-awesome';

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

html {
  @include linear-gradient(#3498db, #8e44ad);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
  background: white;
}

#root {

  // Center
  display: flex;
  align-items: center;
  justify-content: center;

  // Size
  height: 100%;

  .container {
    width: 400px;
  }
}
